.bodyPerk {
  &DorphHead {
    left: 1402px;
    top: 1524px;

    div[data-perk-tile] {
      background-position: -1386px -1384px;
    }
  }

  &ComebackKid {
    left: 1590px;
    top: 1524px;

    div[data-perk-tile] {
      background-position: -1260px -1080px;
    }
  }

  &Painkiller {
    left: 1802px;
    top: 1492px;

    div[data-perk-tile] {
      background-position: -504px -768px;
    }
  }

  &SpeedJunkie {
    left: 2110px;
    top: 1524px;

    div[data-perk-tile] {
      background-position: -1440px -1260px;
    }
  }

  &ArmyOfOne {
    left: 2298px;
    top: 1524px;

    div[data-perk-tile] {
      background-position: -1260px -1384px;
    }
  }

  &FuryRoad {
    left: 2938px;
    top: 1492px;

    div[data-perk-tile] {
      background-position: 0 -1024px;
    }
  }

  &BulletBallet {
    left: 974px;
    top: 1236px;

    div[data-perk-tile] {
      background-position: -1620px -580px;
    }
  }

  &KineticAbsorption {
    left: 2726px;
    top: 1236px;

    div[data-perk-tile] {
      background-position: 0 -1564px;
    }
  }

  &FlySwatter {
    left: 3246px;
    top: 1236px;

    div[data-perk-tile] {
      background-position: -1620px -1392px;
    }
  }

  &DieDieDie {
    left: 666px;
    top: 1096px;

    div[data-perk-tile] {
      background-position: -864px -768px;
    }
  }

  &WreckingBall {
    left: 2938px;
    top: 1096px;

    div[data-perk-tile] {
      background-position: -180px -1024px;
    }
  }

  &LikeAFeather {
    left: 454px;
    top: 1044px;

    div[data-perk-tile] {
      background-position: -1620px -812px;
    }
  }

  &DontStopMeNow {
    left: 974px;
    top: 1044px;

    div[data-perk-tile] {
      background-position: -1620px -696px;
    }
  }

  &Breakthrough {
    left: 2726px;
    top: 1044px;

    div[data-perk-tile] {
      background-position: -252px -1564px;
    }
  }

  &Clapback {
    left: 3246px;
    top: 1044px;

    div[data-perk-tile] {
      background-position: -126px -1564px;
    }
  }

  &Skullcracker {
    left: 454px;
    top: 768px;

    div[data-perk-tile] {
      background-position: -1620px -1044px;
    }
  }

  &RushOfBlood {
    left: 974px;
    top: 768px;

    div[data-perk-tile] {
      background-position: -1620px -928px;
    }
  }

  &Juggernaut {
    left: 1590px;
    top: 768px;

    div[data-perk-tile] {
      background-position: -1620px -116px;
    }
  }

  &CalmMind {
    left: 2110px;
    top: 768px;

    div[data-perk-tile] {
      background-position: -1620px 0;
    }
  }

  &Aftershock {
    left: 2726px;
    top: 768px;

    div[data-perk-tile] {
      background-position: -504px -1564px;
    }
  }

  &Epicenter {
    left: 3246px;
    top: 768px;

    div[data-perk-tile] {
      background-position: -378px -1564px;
    }
  }

  &SpontaneousObliteration {
    left: 666px;
    top: 628px;

    div[data-perk-tile] {
      background-position: -1044px -768px;
    }
  }

  &AdrenalineRush {
    left: 1802px;
    top: 628px;

    div[data-perk-tile] {
      background-position: -684px -768px;
    }
  }

  &Quake {
    left: 2938px;
    top: 628px;

    div[data-perk-tile] {
      background-position: -360px -1024px;
    }
  }

  &CloseQuartersCarnage {
    left: 454px;
    top: 576px;

    div[data-perk-tile] {
      background-position: -1620px -1276px;
    }
  }

  &Dread {
    left: 974px;
    top: 576px;

    div[data-perk-tile] {
      background-position: -1620px -1160px;
    }
  }

  &Bloodlust {
    left: 1282px;
    top: 576px;

    div[data-perk-tile] {
      background-position: -1620px -348px;
    }
  }

  &UnstoppableForce {
    left: 1590px;
    top: 576px;

    div[data-perk-tile] {
      background-position: -1620px -232px;
    }
  }

  &RippleEffect {
    left: 2418px;
    top: 576px;

    div[data-perk-tile] {
      background-position: -1620px -464px;
    }
  }

  &RipAndTear {
    left: 594px;
    top: 128px;

    div[data-perk-tile] {
      background-position: 0 0;
    }
  }

  &Onslaught {
    left: 1162px;
    top: 128px;

    div[data-perk-tile] {
      background-position: -252px 0;
    }
  }

  &PainToGain {
    left: 1730px;
    top: 128px;

    div[data-perk-tile] {
      background-position: -504px 0;
    }
  }

  &FinisherSavageSling {
    left: 2866px;
    top: 128px;

    div[data-perk-tile] {
      background-position: 0 -256px;
    }
  }
}