.RoadWarrior {
  left: 666px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -900px -1024px;
  }
}

.BlindSpot {
  left: 1402px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -882px -1564px;
  }
}

.SmallTarget {
  left: 1590px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -756px -1564px;
  }
}

.FelineFootwork {
  left: 1802px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -540px -1024px;
  }
}

.Unexposed {
  left: 2110px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -630px -1564px;
  }
}

.QuickGetaway {
  left: 2726px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -1746px -1160px
  }
}

.KillerInstinct {
  left: 2938px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -1260px -180px;
  }
}

.GagOrder {
  left: 3246px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -1746px -1044px;
  }
}

.RinseAndReload {
  left: 454px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1746px -232px;
  }
}

.Focus {
  left: 666px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -1080px -1024px;
  }
}

.HeadToHead {
  left: 974px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1746px -116px;
  }
}

.Neurotoxin {
  left: 2726px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1746px -1392px;
  }
}

.ScorpionSting {
  left: 2938px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -1260px -360px;
  }
}

.Corrosion {
  left: 3246px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1746px -1276px;
  }
}

.NoSweat {
  left: 454px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1746px -464px;
  }
}

.Pull {
  left: 974px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1746px -348px;
  }
}

.DeepBreath {
  left: 1282px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1386px -1564px;
  }
}

.Parasite {
  left: 2726px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: 0 -1680px;
  }
}

.AcceleratedToxinAbsorption {
  left: 3246px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1746px -1508px;
  }
}

.HighNoon {
  left: 454px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1746px -696px;
  }
}

.Deadeye {
  left: 666px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1746px -580px;
  }
}

.QuickDraw {
  left: 974px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1746px -580px;
  }
}

.CreepingDeath {
  left: 1590px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1134px -1564px;
  }
}

.Ninjutsu {
  left: 1802px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -720px -1024px;
  }
}

.Serpentine {
  left: 2110px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1008px -1564px;
  }
}

.FinisherActOfMercy {
  left: 2726px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -252px -1680px;
  }
}

.Juggler {
  left: 2938px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1260px -540px;
  }
}

.PayItForward {
  left: 3246px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -126px -1680px;
  }
}

.CaliforniaReaper {
  left: 454px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1746px -928px;
  }
}

.LongShot {
  left: 974px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1746px -812px;
  }
}

.VanishingAct {
  left: 1282px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1512px -1564px;
  }
}

.ShinobiSprint {
  left: 1590px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1260px -1564px;
  }
}

.Pounce {
  left: 2418px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1746px 0;
  }
}

.SleightOfHand {
  left: 2726px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -378px -1680px;
  }
}

.NervesOfTungstenSteel {
  left: 594px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -252px -256px;
  }
}

.RunNGun {
  left: 1162px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -504px -256px;
  }
}

.StyleOverSubstance {
  left: 2298px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -756px 0;
  }
}