.ForcekillCypher {
  left: 454px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -1872px -464px;
  }
}

.EyeInTheSky {
  left: 666px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -180px -1204px;
  }
}

.WarningExplosionHazard {
  left: 974px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -1872px -348px;
  }
}

.ProximatePropagation {
  left: 1590px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -630px -1680px;
  }
}

.Optimization {
  left: 1802px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -1260px -720px;
  }
}

.Encryption {
  left: 2110px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -504px -1680px;
  }
}

.Subordination {
  left: 2298px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -756px -1680px;
  }
}

.Carhacker {
  left: 2938px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -720px -1204px;
  }
}

.DataRecycler {
  left: 454px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1872px -696px;
  }
}

.CounterAHack {
  left: 974px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1872px -580px;
  }
}

.Icepick {
  left: 1590px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1008px -1680px;
  }
}

.Speculation {
  left: 2110px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -882px -1680px;
  }
}

.PrecisionSubroutines {
  left: 2726px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1872px -1508px;
  }
}

.NoEscape {
  left: 3246px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1872px -1392px;
  }
}

.HackQueue {
  left: 666px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -360px -1204px;
  }
}

.EmbeddedExploit {
  left: 1802px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -1260px -900px;
  }
}

.AcquisitionSpecialist {
  left: 2938px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -900px -1204px;
  }
}

.FeedbackLoop {
  left: 454px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1872px -928px;
  }
}

.CopyPast {
  left: 974px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1872px -812px;
  }
}

.Siphon {
  left: 1282px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1872px 0;
  }
}

.Shadowrunner {
  left: 1590px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1260px -1680px;
  }
}

.SystemOverwhelm {
  left: 2110px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1134px -1680px;
  }
}

.Recirculation {
  left: 2418px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1872px -232px;
  }
}

.QueuePriorization {
  left: 454px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1872px -1160px;
  }
}

.QueueHackRoot {
  left: 974px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1872px -1044px;
  }
}

.Sublimation {
  left: 1590px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1512px -1680px;
  }
}

.RaceAgainstMind {
  left: 2110px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1386px -1680px;
  }
}

.TerminalVelocity {
  left: 2726px;
  top: 768px;

  div[data-perk-tile] {
    background-position: 0 -1796px;
  }
}

.TargetingPrism {
  left: 3246px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1872px -1624px;
  }
}

.QueueAcceleration {
  left: 666px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -540px -1204px;
  }
}

.Overclock {
  left: 1802px;
  top: 628px;

  div[data-perk-tile] {
    background-position: 0 -1204px;
  }
}

.TargetLockTransfer {
  left: 2938px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1080px -1204px;
  }
}

.FinisherLiveWire {
  left: 454px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1872px -1276px;
  }
}

.BloodDaemon {
  left: 1282px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1872px -116px;
  }
}

.PowerSurge {
  left: 2110px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1638px -1680px;
  }
}

.QueueMastery {
  left: 594px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -756px -256px;
  }
}

.Spillover {
  left: 1730px;
  top: 128px;

  div[data-perk-tile] {
    background-position: 0 -512px;
  }
}

.SmartSynergy {
  left: 2298px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -252px -512px;
  }
}