.Stuntjock {
  left: 666px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -1440px -360px;
  }
}

.Multitasker {
  left: 1402px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -504px -1796px;
  }
}

.Musclememory {
  left: 1590px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -252px -1796px;
  }
}

.Slippery {
  left: 1802px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -1260px -1204px;
  }
}

.PowerSlide {
  left: 2110px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -126px -1796px;
  }
}

.Parkour {
  left: 2298px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -378px -1796px;
  }
}

.SpiceOfLife {
  left: 454px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1638px -1796px;
  }
}

.TunnelVision {
  left: 454px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1998px 0;
  }
}

.MindOverMatter {
  left: 974px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1764px -1796px;
  }
}

.ReadyRestedReloaded {
  left: 666px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -1440px -540px;
  }
}

.CantTouchThis {
  left: 1590px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -756px -1796px;
  }
}

.SteadyGrip {
  left: 1590px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1008px -1796px;
  }
}

.MeanStreak {
  left: 2110px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -882px -1796px;
  }
}

.MadDash {
  left: 2110px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -630px -1796px;
  }
}

.Dash {
  left: 1802px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -1440px 0;
  }
}

.FlashAndThunderclap {
  left: 2418px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1512px -1796px;
  }
}

.SeeingDouble {
  left: 2726px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1998px -696px;
  }
}

.LeadAndSteel {
  left: 2938px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -1440px -900px;
  }
}

.BulletTime {
  left: 3246px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1998px -812px;
  }
}

.BulletDeflect {
  left: 3246px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1998px -580px;
  }
}

.SprayAndPray {
  left: 454px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1998px -232px;
  }
}

.GunDancer {
  left: 974px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1998px -116px;
  }
}

.PracticeMakesPerfect {
  left: 974px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1998px -348px;
  }
}

.ShootToChill {
  left: 454px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1998px -464px;
  }
}

.Sharpshooter {
  left: 666px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1440px -720px;
  }
}

.AirKerenzikov {
  left: 1282px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1386px -1796px;
  }
}

.AerialAcrobat {
  left: 1590px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1134px -1796px;
  }
}

.AirDash {
  left: 1802px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1440px -180px;
  }
}

.Aerodynamic {
  left: 2110px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1260px -1796px;
  }
}

.GoingTheDistance {
  left: 2726px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1998px -1160px;
  }
}

.FinishedBladerrunner {
  left: 2938px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1440px -1080px;
  }
}

.Opportunist {
  left: 3246px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1998px -1044px;
  }
}

.FlashOfSteel {
  left: 3246px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1998px -928px;
  }
}

.SaltInTheWound {
  left: 594px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -504px -512px;
  }
}

.SubmachineFun {
  left: 1162px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -756px -512px;
  }
}

.Tailwind {
  left: 1730px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -1008px 0;
  }
}

.Slaughterhouse {
  left: 2866px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -1008px -256px;
  }
}