.FirstAid {
  left: 454px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -756px -1912px;
  }
}

.GluttonForWar {
  left: 666px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -360px -1384px;
  }
}

.Transfusion {
  left: 974px;
  top: 1524px;

  div[data-perk-tile] {
    background-position: -630px -1912px;
  }
}

.Gearhead {
  left: 2938px;
  top: 1492px;

  div[data-perk-tile] {
    background-position: -900px -1384px;
  }
}

.BorrowedTime {
  left: 454px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1008px -1912px;
  }
}

.DemolitionsSurplus {
  left: 974px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -882px -1912px;
  }
}

.ReneissancePunk {
  left: 1590px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1998px -1392px;
  }
}

.DriverUpdate {
  left: 2110px;
  top: 1236px;

  div[data-perk-tile] {
    background-position: -1998px -1276px;
  }
}

.HealthFreak {
  left: 666px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: -540px -1384px;
  }
}

.AllThingsCyber {
  left: 1802px;
  top: 1096px;

  div[data-perk-tile] {
    background-position: 0 -1384px;
  }
}

.CommingHot {
  left: 454px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1260px -1912px;
  }
}

.FieldMedic {
  left: 974px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1134px -1912px;
  }
}

.ChromeConstitution {
  left: 1590px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1998px -1624px;
  }
}

.LuckyDay {
  left: 2110px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -1998px -1508px;
  }
}

.ChipwareConnoisseur {
  left: 2418px;
  top: 1044px;

  div[data-perk-tile] {
    background-position: -504px -1912px;
  }
}

.BurnThisCity {
  left: 454px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1512px -1912px;
  }
}

.FriendlierFire {
  left: 974px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1386px -1912px;
  }
}

.Amidexetrous {
  left: 1590px;
  top: 768px;

  div[data-perk-tile] {
    background-position: 0 -1912px;
  }
}

.ExtendedWarranty {
  left: 2110px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1998px -1740px;
  }
}

.InternalClick {
  left: 2726px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -2124px 0;
  }
}

.InCharge {
  left: 3246px;
  top: 768px;

  div[data-perk-tile] {
    background-position: -1890px -1912px;
  }
}

.Pyromania {
  left: 666px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -720px -1384px;
  }
}

.LicenseToChrome {
  left: 1802px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -180px -1384px;
  }
}

.Bolt {
  left: 2938px;
  top: 628px;

  div[data-perk-tile] {
    background-position: -1080px -1384px;
  }
}

.HeatShield {
  left: 454px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1764px -1912px;
  }
}

.FlashSale {
  left: 974px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -1638px -1912px;
  }
}

.DoomLauncher {
  left: 1282px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -378px -1912px;
  }
}

.Cyborg {
  left: 1590px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -252px -1912px;
  }
}

.BuiltDifferent {
  left: 2110px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -126px -1912px;
  }
}

.LightningStorm {
  left: 2726px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -2124px -232px;
  }
}

.ShockValue {
  left: 3246px;
  top: 576px;

  div[data-perk-tile] {
    background-position: -2124px -116px;
  }
}

.TickingTimeBomb {
  left: 1162px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -1008px -512px;
  }
}

.Edgerunner {
  left: 1730px;
  top: 128px;

  div[data-perk-tile] {
    background-position: 0 -768px;
  }
}

.ChainLightning {
  left: 2866px;
  top: 128px;

  div[data-perk-tile] {
    background-position: -252px -768px;
  }
}