.container {
  span[data-connection-id="1"] {
    left: 560px;
    top: 1589px;
    background-position: -919px -634px;
    height: 32px;
    width: 112px;
  }

  span[data-connection-id="2"] {
    left: 896px;
    top: 1589px;
    background-position: -919px -534px;
    height: 32px;
    width: 112px;
  }

  span[data-connection-id="3"] {
    left: 766px;
    top: 1319px;
    background-position: -1132px -246px;
    height: 188px;
    width: 38px;
  }

  span[data-connection-id="4"] {
    left: 585px;
    top: 1290px;
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="5"] {
    left: 860px;
    top: 1290px;
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="6"] {
    left: 1723px;
    top: 1290px;
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="7"] {
    left: 1997px;
    top: 1290px;
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="8"] {
    left: 2250px;
    top: 1183px;
    background-position: -548px -673px;
    height: 170px;
    width: 236px;
  }

  span[data-connection-id="9"] {
    left: 585px;
    top: 1076px;
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="10"] {
    left: 860px;
    top: 1076px;
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="11"] {
    left: 1723px;
    top: 1076px;
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="12"] {
    left: 1997px;
    top: 1076px;
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="13"] {
    left: 766px;
    top: 856px;
    background-position: -1132px 0;
    height: 246px;
    width: 40px;
  }

  span[data-connection-id="14"] {
    left: 1901px;
    top: 856px;
    background-position: -1132px 0;
    height: 246px;
    width: 40px;
  }

  span[data-connection-id="15"] {
    left: 585px;
    top: 823px;
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="16"] {
    left: 860px;
    top: 823px;
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="17"] {
    left: 1112px;
    top: 716px;
    background-position: -548px -673px;
    height: 170px;
    width: 236px;
  }

  span[data-connection-id="18"] {
    left: 1354px;
    top: 716px;
    background-position: -784px -673px;
    height: 170px;
    width: 236px;
  }

  span[data-connection-id="19"] {
    left: 1723px;
    top: 823px;
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="20"] {
    left: 1997px;
    top: 823px;
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="21"] {
    left: 2859px;
    top: 823px;
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="22"] {
    left: 3132px;
    top: 823px;
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="23"] {
    left: 585px;
    top: 609px;
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="24"] {
    left: 860px;
    top: 609px;
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="25"] {
    left: 1723px;
    top: 609px;
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="26"] {
    left: 1997px;
    top: 609px;
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="27"] {
    left: 2859px;
    top: 609px;
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="28"] {
    left: 3132px;
    top: 609px;
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
  }

  span[data-connection-id="29"] {
    left: 766px;
    top: 430px;
    background-position: -42px -470px;
    height: 203px;
    width: 545px;
  }

  span[data-connection-id="30"] {
    left: 1393px;
    top: 430px;
    background-position: -42px -673px;
    height: 204px;
    width: 506px;
  }

  span[data-connection-id="31"] {
    left: 1901px;
    top: 446px;
    background-position: -1132px -246px;
    height: 188px;
    width: 38px;
  }


  span[ data-connection-id="32"] {
    left: 3038px;
    top: 446px;
    background-position: -1132px -246px;
    height: 188px;
    width: 38px;
  }
}