$red: red;
$red2: #880425;
$blue2: #136377;
$lightBlue: #37EBF3;
$yellow: yellow;
$green1: #1afe49;
$green2: #083e12;
$red1: #ff2b2b;
$red3: #74031d;
$black: black;
$black2: #0b0c15;
$crimson: #250d15;
$white: white;

$item-quality-tier1: #D6D0D0;
$item-quality-tier2: #1DED83;
$item-quality-tier3: #256FD3;
$item-quality-tier4: #9C2CF5;
$item-quality-tier5: #FB922E;
$item-quality-iconic: #FFC23C;

$redPrimary: #bc6159;

$crimsonPrimary: #31181e