.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: block;

    &[data-state="not-connected"] {
      background-image: url(../../../../../assets/attributes/lines-not-connected.png);
    }

    &[data-state="available"] {
      background-image: url(../../../../../assets/attributes/lines-available.png);
    }

    &[data-state="maxed"] {
      background-image: url(../../../../../assets/attributes/lines-maxed.png);
    }
  }

  strong {
    font-weight: 700;
    color: #5cff00;
    font-size: 30px;
  }

  span[data-connection-id="1"] {
    background-position: -587px -470px;
    height: 100px;
    width: 332px;
    left: 1515px;
    top: 1648px;
  }

  span[data-connection-id="2"] {
    background-position: -587px -570px;
    height: 100px;
    width: 332px;
    left: 1997px;
    top: 1648px;
  }

  span[data-connection-id="3"] {
    background-position: -919px -634px;
    height: 32px;
    width: 112px;
    left: 1693px;
    top: 1589px;
  }

  span[data-connection-id="4"] {
    background-position: -919px -534px;
    height: 32px;
    width: 112px;
    left: 2034px;
    top: 1589px;
  }

  span[data-connection-id="5"] {
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
    left: 860px;
    top: 1290px;
  }

  span[data-connection-id="6"] {
    background-position: 0 -266px;
    height: 642px;
    width: 42px;
    left: 1901px;
    top: 856px;
  }

  span[data-connection-id="7"] {
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
    left: 2859px;
    top: 1290px;
  }

  span[data-connection-id="8"] {
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
    left: 3132px;
    top: 1290px;
  }

  span[data-connection-id="9"] {
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
    left: 585px;
    top: 1076px;
  }

  span[data-connection-id="10"] {
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
    left: 860px;
    top: 1076px;
  }

  span[data-connection-id="11"] {
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
    left: 2859px;
    top: 1076px;
  }

  span[data-connection-id="12"] {
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
    left: 3132px;
    top: 1076px;
  }

  span[data-connection-id="13"] {
    background-position: -1132px 0;
    height: 246px;
    width: 40px;
    left: 766px;
    top: 856px;
  }

  span[data-connection-id="14"] {
    background-position: -1132px 0;
    height: 246px;
    width: 40px;
    left: 3038px;
    top: 856px;
  }

  span[data-connection-id="15"] {
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
    left: 585px;
    top: 823px;
  }

  span[data-connection-id="16"] {
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
    left: 860px;
    top: 823px;
  }

  span[data-connection-id="17"] {
    background-position: -548px -673px;
    height: 170px;
    width: 236px;
    left: 1112px;
    top: 716px;
  }

  span[data-connection-id="18"] {
    background-position: -784px -673px;
    height: 170px;
    width: 236px;
    left: 1354px;
    top: 716px;
  }

  span[data-connection-id="19"] {
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
    left: 1723px;
    top: 823px;
  }

  span[data-connection-id="20"] {
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
    left: 1997px;
    top: 823px;
  }

  span[data-connection-id="21"] {
    background-position: -548px -673px;
    height: 170px;
    width: 236px;
    left: 2250px;
    top: 716px;
  }

  span[data-connection-id="22"] {
    background-position: -784px -673px;
    height: 170px;
    width: 236px;
    left: 2491px;
    top: 716px;
  }

  span[data-connection-id="23"] {
    background-position: 0 -908px;
    height: 64px;
    width: 124px;
    left: 2859px;
    top: 823px;
  }

  span[data-connection-id="24"] {
    background-position: -124px -908px;
    height: 64px;
    width: 124px;
    left: 3132px;
    top: 823px;
  }

  span[data-connection-id="25"] {
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
    left: 585px;
    top: 609px;
  }

  span[data-connection-id="26"] {
    background-position: -919px -570px;
    height: 64px;
    width: 124px;
    left: 860px;
    top: 609px;
  }

  span[data-connection-id="27"] {
    background-position: -919px -470px;
    height: 64px;
    width: 124px;
    left: 1723px;
    top: 609px;
  }

  span[data-connection-id="28"] {
    background-position: -1132px -246px;
    height: 188px;
    width: 38px;
    left: 766px;
    top: 446px;
  }

  span[data-connection-id="29"] {
    background-position: -588px -266px;
    height: 204px;
    width: 506px;
    left: 806px;
    top: 430px;
  }

  span[data-connection-id="30"] {
    background-position: -1132px -246px;
    height: 188px;
    width: 38px;
    left: 1901px;
    top: 446px;
  }

  span[data-connection-id="31"] {
    background-position: -1132px -246px;
    height: 188px;
    width: 38px;
    left: 3038px;
    top: 446px;
  }

}
