.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.connectionInactive {
  position: absolute;
  background: red;
  display: block;
  background: url(../../../../../assets/attributes/not_connected.png);
}

.connection1 {
  background-position: -587px -470px;
  height: 100px;
  width: 332px;
  left: 1515px;
  top: 1648px;
}

.connection2 {
  background-position: -587px -570px;
  height: 100px;
  width: 332px;
  left: 1997px;
  top: 1648px;
}

.connection3 {
  background-position: -919px -634px;
  height: 32px;
  width: 112px;
  left: 1693px;
  top: 1589px;
}

.connection4 {
  background-position: -919px -534px;
  height: 32px;
  width: 112px;
  left: 2034px;
  top: 1589px;
}

.connection5 {
  background-position: -124px -908px;
  height: 64px;
  width: 124px;
  background-position: -124px -908px;
  left: 860px;
  top: 1290px;
}

.connection6 {
  background-position: 0 -266px;
  height: 642px;
  width: 42px;
  left: 1901px;
  top: 856px;
}

.connection7 {
  background-position: 0 -908px;
  height: 64px;
  width: 124px;
  left: 2859px;
  top: 1290px;
}

.connection8 {
  background-position: -124px -908px;
  height: 64px;
  width: 124px;
  left: 3132px;
  top: 1290px;
}

.connection9 {
  background-position: -919px -470px;
  height: 64px;
  width: 124px;
  left: 585px;
  top: 1076px;
}

.connection10 {
  background-position: -919px -570px;
  height: 64px;
  width: 124px;
  left: 860px;
  top: 1076px;
}

.connection11 {
  background-position: -919px -470px;
  height: 64px;
  width: 124px;
  left: 2859px;
  top: 1076px;
}

.connection12 {
  background-position: -919px -570px;
  height: 64px;
  width: 124px;
  left: 3132px;
  top: 1076px;
}

.connection13 {
  background-position: -1132px 0;
  height: 246px;
  width: 40px;
  left: 766px;
  top: 856px;
}

.connection14 {
  background-position: -1132px 0;
  height: 246px;
  width: 40px;
  left: 3038px;
  top: 856px;
}

.connection15 {
  background-position: 0 -908px;
  height: 64px;
  width: 124px;
  left: 585px;
  top: 823px;
}

.connection16 {
  background-position: -124px -908px;
  height: 64px;
  width: 124px;
  left: 860px;
  top: 823px;
}

.connection17 {
  background-position: -548px -673px;
  height: 170px;
  width: 236px;
  left: 1112px;
  top: 716px;
}

.connection18 {
  background-position: -784px -673px;
  height: 170px;
  width: 236px;
  left: 1354px;
  top: 716px;
}

.connection19 {
  background-position: 0 -908px;
  height: 64px;
  width: 124px;
  left: 1723px;
  top: 823px;
}

.connection20 {
  background-position: -124px -908px;
  height: 64px;
  width: 124px;
  left: 1997px;
  top: 823px;
}

.connection21 {
  background-position: -548px -673px;
  height: 170px;
  width: 236px;
  left: 2250px;
  top: 716px;
}

.connection22 {
  background-position: -784px -673px;
  height: 170px;
  width: 236px;
  left: 2491px;
  top: 716px;
}

.connection23 {
  background-position: 0 -908px;
  height: 64px;
  width: 124px;
  left: 2859px;
  top: 823px;
}

.connection24 {
  background-position: -124px -908px;
  height: 64px;
  width: 124px;
  left: 3132px;
  top: 823px;
}

.connection25 {
  background-position: -919px -470px;
  height: 64px;
  width: 124px;
  left: 585px;
  top: 609px;
}

.connection26 {
  background-position: -919px -570px;
  height: 64px;
  width: 124px;
  left: 860px;
  top: 609px;
}

.connection27 {
  left: 1723px;
  top: 609px;
  background-position: -919px -470px;
  height: 64px;
  width: 124px;
}

.connection28 {
  background-position: -1132px -246px;
  height: 188px;
  width: 38px;
  left: 766px;
  top: 446px;
}

.connection29 {
  background-position: -588px -266px;
  height: 204px;
  width: 506px;
  left: 806px;
  top: 430px;
}

.connection30 {
  background-position: -1132px -246px;
  height: 188px;
  width: 38px;
  left: 1901px;
  top: 446px;
}

.connection31 {
  background-position: -1132px -246px;
  height: 188px;
  width: 38px;
  left: 3038px;
  top: 446px;
}